.navbar {
    background-color: #3b3b3b;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        font-weight: 700;
        margin-left: 20px;
    }
}
