.shopping-cart {
    margin-right: 30px;
    position: relative;

    &__icon {
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 80;
    }

    &__list {
        position: absolute;
        background-color: white;
        z-index: 99;
        right: 0;
        height: 300px;
        width: 400px;
        border-radius: 8px;
        border: 1px solid #ccc;
    }

    &__count {
        position: absolute;
        top: 30px;
        right: -25px;
        color: white;
        border-radius: 50%;
        background-color: #02006c;
        font-family: Arial, Helvetica, sans-serif;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}