.shopping-cart {
    margin-right: 30px;
    position: relative;

    &__icon {
        width: 50px;
        height: 50px;
        cursor: pointer;
        z-index: 80;
    }

    &__list {
        position: absolute;
        background-color: white;
        z-index: 99;
        right: 0;
        height: 300px;
        width: 400px;
        border-radius: 8px;
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .cart-row {
            display: flex;
            gap: 5px;
            align-items: center;
            border-bottom: 1px solid #ccc;

            &__name {
                font-size: 14px;
                font-weight: 700;
                margin-left: 20px;
                font-family: Arial, Helvetica, sans-serif;
                padding: 20px;
                color: #3b3b3b;
            }

            &__img {
                width: 50px;
                height: 50px;
                object-fit: contain;
                border-radius: 50%;
            }

            &__remove {
                border-radius: 50%;
                background-color: #02006c;
                color: white;
                font-size: 22px;
                font-weight: bold;
                width: 60px;
                height: 30px;
                cursor: pointer;
                display: flex;
                place-content: center;
            }
        }

        .shopping-total {
            display: flex;
            justify-content: flex-end;
            padding-top: 20px;

            &__text {
                font-size: 14px;
                font-weight: 700;
                margin-left: 20px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
    }

    &__count {
        position: absolute;
        top: 30px;
        right: -25px;
        color: white;
        border-radius: 50%;
        background-color: #02006c;
        font-family: Arial, Helvetica, sans-serif;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}