.product-list {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(350px, 1fr) );
    grid-template-rows: repeat( auto-fill, minmax(380px, 1fr) );
    grid-gap: 40px;
    padding: 50px;

    .product-card {
        border: 1px solid #ccc;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 20px;
        color: #3b3b3b;

        &__image {
            width: 70%;
            height: 60%;
        }

        &__title {
            font-size: 22px;
            font-weight: 700;
            margin-left: 20px;
        }

        &__price {
            font-size: 15px;
            font-weight: 500;
            margin-left: 20px;
            text-transform: capitalize;
            border: 2px solid #e69b00;
            border-radius: 8px;
            padding: 10px;
        }

        &__text {
            font-size: 14px;
            font-weight: 500;
            margin-left: 20px;
        }

        &__add_to_cart {
            padding: 10px 20px;
            background-color: #02006c;
            color: white;
            font-weight: bold;
            border-radius: 8px;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }
}